<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'owners')}">
<head>
    <meta charset="UTF-8">
    <title th:text="'List of owners'">title</title>
</head>
<body>
<h2>List of owners</h2>
<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 7.5%">ID</th>
        <th style="width: 72.5%">Owner's name</th>
        <th style="width: 20%">Pets count</th>
    </tr>
    </thead>
    <tr th:each="owner: ${owners}">
        <th th:text="${owner.id}"></th>
        <th th:text="${owner.firstName} + ' ' + ${owner.lastName}"></th>
        <th>0</th>
    </tr>
</table>
</body>
</html>