<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'vets')}">
<head>
    <meta charset="UTF-8">
    <title th:text="'List of vets'">title</title>
</head>

<body>
<h2>List of vets</h2>
<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 7.5%">ID</th>
        <th style="width: 22.5%">Vet's name</th>
        <th style="width: 70%;">Specialties</th>
    </tr>
    </thead>
    <tr th:each="vet: ${vets}">
        <td th:text="${vet.id}"></td>
        <td th:text="${vet.firstName} + ' ' + ${vet.lastName}"></td>
        <td>
            <span th:each="specialty: ${vet.specialties}" th:text="${specialty.specialtyName + ' '}"></span>
            <span th:if="${vet.specialties.size() == 0}">none</span>
        </td>
    </tr>
</table>
</body>
</html>